
/.local
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public
/.Trash
.DS_Store
.DS_Store
.DS_Store
.CFUserTextEncoding
.zsh_history
.DS_Store
.zsh_sessions/_expiration_check_timestamp
/.zsh_sessions
.config/zed/prompts/prompts-library-db.0.mdb/lock.mdb
.DS_Store
/.cache
/.config/gh
/.config/zed/prompts
.config/zed/prompts/prompts-library-db.0.mdb/lock.mdb
/.config/OCAuxiliaryTools
/.config/zed/prompts
/.ocat/Database
/.ocat
/.config/zed/prompts
/.config/OCAuxiliaryTools
.config/.DS_Store
.lesshst
.DS_Store
/.tldrc
.viminfo
.gitconfig
.DS_Store
